<mat-toolbar color="primary" class="page-header">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img
    class="logo"
    src="../../assets/images/MSI_logo.png"
    alt="Motorola Solutions"
  />
  <span class="spacer"></span>
  <div fxFlex fxHide.xs>
    <button mat-button [matMenuTriggerFor]="addProjectmenu">
      <mat-icon>add</mat-icon>Add Projects
    </button>
    <span style="margin: 0 0.75%"></span>
    <mat-menu #addProjectmenu="matMenu" yPosition="below">
      <button mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>Single project
      </button>
      <button mat-menu-item><mat-icon>file_copy</mat-icon>Bulk Import</button>
    </mat-menu>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>
