.full-width {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-page {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/motorola1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

mat-card {
  margin: auto;
  max-width: 40%;
  /* min-width: 280px; */
  text-align: center;
  /* max-height: 70%; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color:rgb(156, 223, 250);
  border-radius: 10%;
  
}

button {
  margin-top: 20px;
  margin-bottom: 12px;
  background-color:white;
  border-radius: 40%;
}

mat-icon {
  color: white;
}

.login-logo {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 5px auto;
}

.error {
  border: 1px solid rgb(252, 247, 247);
  background: #f0eded;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: white;
}
