<div class="login-page">
  <mat-card>
 
    <mat-card-content>
      <div>
        <img  class="login-logo" />
        <h2>Login </h2>
        <h3> to project mapping (CIE)</h3>
      </div>
      <form (ngSubmit)="onSubmit()" name="loginform" [formGroup]="loginForm">
        <mat-form-field class="full-width" appearance="outline" color="#white">
          <mat-label>Email Id</mat-label>
          <!-- <mat-icon matPrefix style="margin-right: 5px">people</mat-icon> -->
          <input type="email" matInput formControlName="email" />
          <mat-error
            *ngIf="getError('email', 'email') && !getError('email', 'required')"
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="getError('email', 'required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" color="#f0eded">
          <mat-label>Password</mat-label>
          <!-- <mat-icon matPrefix style="margin-right: 5px">vpn_key </mat-icon> -->
          <input
            type="password"
            matInput
            formControlName="password"
            minlength="6"
          />
          <!-- <mat-hint></mat-hint> -->
          <mat-error *ngIf="getError('password', 'minlength')">
            Minimum password length required is 6
          </mat-error>
          <mat-error
            *ngIf="
              !getError('password', 'required') &&
              getError('password', 'invalidPassword')
            "
          >
            Password must contain atleast one <strong>uppercase</strong>, one
            <strong>lowercase</strong> and one <strong>number</strong>.
          </mat-error>
          <mat-error *ngIf="getError('password', 'required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <button
          mat-raised-button
          color="#fafafa"
          type="submit"
        >
          Login
        </button>
      </form>

      <div class="error" *ngIf="loginError && loginError.length > 0">
        <span>{{ loginError }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
