<app-navbar></app-navbar>
<table id="pm">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Dept Code
        </th>
        <th>
            Product
        </th>
        <th>
            Status
        </th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let item of data">
        <td>
            {{item.projectname}}
        </td>
        <td>
            {{item.users}}
        </td>

        <td>
            {{item.deptcode}}
        </td>

        <td>
            {{item.product}}
        </td>

        <td>
            {{item.status}}
        </td>

        <td>
            <button mat-raised-button color="primary" [routerLink]="['/updateProject',item.id]">Update</button> &nbsp;
            <button mat-raised-button color="warn" (click)="delete(item.id)">Delete</button>
        </td>
    </tr>
</table>